# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Editors
# ==========================

.vscode/

# ==========================
# Environment variables
# ==========================

.env

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary files
# ==========================

*.tmp
*.temp

# ==========================
# Deno
# ==========================

.deno/

# Coverage

coverage/

# ==========================
# Node (if used later)
# ==========================

node_modules/

# ==========================
# Build folders
# ==========================

dist/
build/

# ==========================
# Misc
# ==========================

*.bak