* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Manrope;
    src: url("../assets/fonts/Manrope-VariableFont_wght.ttf");
}

:root {
    --dominant: #2E7D32;
    --dominant-light: #7dcf81;
    --dominant-hover: #1B5E20;
    --complementary: #F57C00;
    --link: #58A6FF;
    --error: #F85149;
    --noFav: #A1A1AA;
    --fav: #F85149;

    --text-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 90%);
    --text-dark: hsl(0, 0%, 80%);

    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 30%);
}

body {
    background-color: var(--bg);
    font-family: Manrope, Arial, Helvetica, sans-serif;
    max-height: 100vh;
    overflow-y: hidden;

}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 100px);
    width: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    color: var(--text-light);
    text-align: center;

}

.hero .logo {
    width: 500px;
    opacity: 0;
    animation: fadeIn 3s 3s forwards ease-in;
}

.hero h1 {
    position: relative;
    bottom: 100px;
    line-height: 1;
    animation: fadeIn 3s forwards ease-in;
}

#login {
    border-left: 1px solid var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--text-light);
}

#login form input,
#login form button {
    width: 50%;
    height: 50px;
    color: var(--text-light);
    background-color: var(--bg-light);
    border: 2px solid var(--bg-dark);
    border-radius: 20px;
    padding: 10px;
    transition: all .5s ease;
}

#createUser {
    margin: 20px;
    width: 50%;
    height: 50px;
    color: var(--text-light);
    background-color: var(--bg-light);
    border: 2px solid var(--bg-dark);
    border-radius: 20px;
    padding: 10px;
    transition: all .5s ease;
}

#createUser a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 13px;
}

#login form button:hover,
#createUser:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#login form button:active,
#createUser:active {
    transform: scale(.8);
}

#login form input:focus {
    outline: none;
}

#login form a {
    color: var(--link);
    font-size: 10px;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    border-top: 1px solid var(--bg);
    padding: 0px 50px;
}

footer .logo {
    width: 125px;
}

#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--text-light);
}

#loginError {
    color: var(--error);
    font-size: 10px;
    height: 20px;
    margin: -15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}